.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__list_item {
  margin-right: 40px;
  overflow-x: hidden;
  &:last-child {
    margin-right: 0;
  }
  &.active {
    .navigation__list_item_link {
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 3px;
        display: block;
        background-color: $yellow;
        transition: .3s;
        z-index: -1;
      }
    }
  }
}

.navigation__list_item_link {
  position: relative;
  color: $white;
  &:hover {
    &:before {
      width: 100%;
    }
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    display: block;
    background-color: $yellow;
    transition: .3s;
    z-index: -1;
  }
}



@media (max-width: 1199.98px) {
  .header__navigation {
    display: none;
  }
}